# Dependencies
node_modules/

# Environment Variables (Secrets)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env.json

# Build Outputs & Test Coverage
dist/
coverage/

# Logs and Debug files
npm-debug.log*
.eslintcache

# Editor / IDE Configs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# OS Files
.DS_Store
Thumbs.db
